<% content_for(:page_title, "Edit Location") %>
<div class="row row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <%= render 'form', location: @location %>
      </div>
    </div>
  </div>
</div>
